@import "compass";
@import "partials/normalize";

body {
    background: #FFF;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

body, input {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #444;
            
    &:hover {
        color: #999;
    }
}

@import "partials/conversation";
@import "partials/content";
