@import "compass";
@import "partials/normalize";

body {
    background: #FFF;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

body, input {
    font-family: "Fedra Sans Screen Regular", sans-serif;
    font-size: 16px;
}

strong {
    font-family: "Fedra Sans Screen Bold", sans-serif;
    font-weight: bold;
}

em {
    font-family: "Fedra Sans Screen Italic", sans-serif;
    font-style: italic;
}

a {
    @extend strong;
    text-decoration: none;
    color: #000;
    
    &:hover {
        color: #666;
    }
}

@import "partials/conversation";
@import "partials/content";
