@import "compass";
@import "partials/normalize";

body {
    background: #FFF;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

body, input {
    font-family: "Fedra Sans Screen Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
}

strong, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Fedra Sans Screen Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
}

a {
    text-decoration: none;
    color: #000;
    
    &:hover {
        color: #666;
    }
}

@import "partials/conversation";
@import "partials/content";
