{% load compress %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block site_name %}New Mediology{% endblock %}</title>
    <link rel="stylesheet" href="http://wf.typotheque.com/WF-016878-001609" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png" />
</head>

<body>
    {% block content %}
    {% endblock content %}
    
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/lib/modernizr.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/lib/showdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/app.js"></script>
</body>

</html>
