{% load compress %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">

<head>
    <meta charset="utf-8">
    <title>{% block site_name %}New Mediology{% endblock %}</title>
    {% compress css %}
        <link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" rel="stylesheet" />
        <link href="{{ STATIC_URL }}stylesheets/print.css" media="print" rel="stylesheet" />
    {% endcompress %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png" />
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/lib/modernizr.js"></script>
    {% endcompress %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
</body>

</html>
